@import url('./../../../Colors.css');

.doors {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.door {
    width: 180px;
    height: 200px;
    margin: 8px auto; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.door:hover {
    cursor: pointer;
}

.door img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}