@import url('./../../Colors.css');

.education-item {
    width: 100%;
    text-align: center;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    padding: 12px;
    gap: 24px;
}

.institution-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.institution-container img {
    padding: 12px;
    height: 100px;
    max-width: 250px;
    object-fit: contain;
}

.institution-container .btn {
    width: 180px !important;
}