@import url('./Colors.css');

.body-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--body-size);
    overflow: hidden;
}

.bg-green {
    background-color: var(--green);
}

.error {
    color: var(--error);
}

.clickable {
    font-weight: 500;
}

.clickable:hover {
    cursor: pointer;
}

.formInfo {
    background-color: white;
    padding: 8px;
}

.center {
    text-align: center;
}

.margin-sm {
    margin: 12px;
}

.margin-sm-vertical {
    margin: 12px 0;
}

.margin {
    margin: 24px;
}

.margin-vertical {
    margin: 24px 0;
}

.margin-lg {
    margin: 48px
}