@import url('./Colors.css');

.body-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.bg-green {
    background-color: var(--green);
}

.error {
    color: var(--error);
}

.clickable {
    font-weight: 500;
}

.clickable:hover {
    cursor: pointer;
}

.formInfo {
    background-color: white;
    padding: 8px;
}

.center {
    text-align: center;
}

.margin-sm {
    margin: 12px;
}

.margin {
    margin: 24px;
}

.margin-lg {
    margin: 48px
}